body{
    background-color: #282c34;
  }
  
  .CreateMoviePage {
    text-align: center;
  }

  .CreateMoviePage-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: red ;
  }

  .CreateMovieTitle {
    text-align: center;
    font-size:30px
  }
  
.CreateMoviePageForm{
    font-size: 20px
  }