.UserPage {
    background-color: #282c34;
  }
  
.UserPagePage-header {
    display: flex;
    flex-direction: column;
    font-family: verdana;
  }

.UserWelcome{
    text-align:center;
    color: red;
    font-size:30px
}